@charset "ISO-8859-1";

body {
	background-image: url('https://i.pinimg.com/736x/61/87/e9/6187e9226969b30607c22591376850b7.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.pos {
	
	color : #fff;
	font-size : xx-largelarge;
	position: absolute;
	top : 20%;
	left : 20%;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
	
.regpos {
	position: absolute;
	top : 32%;
	left : 20%;
	width: 250px;
}

.logpos {
	position: absolute;
	top : 40%;
	left : 20%;
	width: 250px;
}

footer p {
  	font-size: 14px;
  	color: #888;
  	line-height: 1.5;
  	position: absolute;
	top : 85%;
	left : 20%;
}